<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="name">Name:</label><br>
        <input id="name" type="text" name="name" required><br>
        <label for="salary">Salary:</label><br>
        <input id="salary" type="number" name="salary" required><br>
        <label for="status">Status:</label><br>
        <input type="radio" id="junior" name="status" value="Junior" required>
        <label for="junior">junior</label><br>
        <input type="radio" id="medior" name="status" value="Medior" required>
        <label for="medior">medior</label><br>
        <input type="radio" id="senior" name="status" value="Senior" required>
        <label for="senior">senior</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>